@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet map z-index fix for sticky headers */
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top, .leaflet-bottom {
  z-index: 1000 !important;
}

html,
body {
  overflow-x: hidden;
}
